Package: %PACKAGE_NAME%
Version: %PACKAGE_VERSION%
Section: base
Priority: optional
Architecture: all
Essential: no
Depends: python3, python3-pip, python3-pigpio
Installed-Size: 1000
Maintainer: Jan Bissinger
Description: AC control tool for Raspberry Pi
